<!DOCTYPE html>
<html>

<head>
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">My Store</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {{#navLink "/store"}}Store{{/navLink}}
                    {{#navLink "/about"}}About{{/navLink}}
                </ul>

                {{#if session.user}}
                <form class="navbar-form navbar-right">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="userMenu"
                            data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{session.user.userName}}
                            &nbsp;&nbsp;<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="userMenu">
                            <li><a href="/userHistory">User History</a></li>
                            <li><a href="/logout">Log Out</a></li>
                        </ul>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {{#navLink "/items"}}Items{{/navLink}}
                    {{#navLink "/categories"}}Categories{{/navLink}}
                </ul>
                {{else}}
                <form class="navbar-form navbar-right">
                    <a href="/register" class="btn btn-success"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Register</a>
                    <a href="/login" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;Log In</a>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {{#navLink "/items"}}Items{{/navLink}}
                    {{#navLink "/categories"}}Categories{{/navLink}}
                </ul>
                {{/if}}
            </div>
        </div>
    </nav>

    <div class="container">
        {{> body}}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
