       <div class="collapse navar-collapse" id="navbarNav">
       <ul class ="navbar-nav">
        {{#navLink "/Shop"}}Shop{{/navLink}}
        {{#navLink "/about"}}About{{/navLink}}
        {{#navLink "/Items"}}Items{{/navLink}}
        {{#navLink "/Categories"}}Categories{{/navLink}}
        {{#navLink "/items/add"}}Add Items{{/navLink}}
</ul>
</div>



        <div class="container" style="padding-top: 90px;">
            {{{body}}}
        </div>

       
