
        <div class="container" style="padding-top: 90px;">
            <div class="row">
                <aside class="col-md-3">
                    <h2>Coming Soon</h2>
                    <p>Stay tuned for future updates...</p>
                </aside>
                <section class="main col-md-9">
                    <article>
                        <h2>About</h2>
                        <p>
                            I am Tejasavi and I am a student at Seneca College. I am currently enrolled in Computer programming course. I found the course a bit tough in the beginning but with my professors' support I am able to adjust in this environment. My hobbies are playing badminton, cooking, singing and dancing. I really enjoy these activities in my free time. I am also interested in painting and sometimes I draw some pictures on my diary. Also, I am working as a part time employee in a Production factory and I am enjoying my job on weekends. 
                
                        </p>                      
                          
                        
                       
                    </article>
                </section>
            </div>
        </div>

        
