
        <div class="container" style="padding-top: 90px;">
            <div class="row">
                <aside class="col-md-3">
                    <h2>Coming Soon</h2>
                    <p>Stay tuned for future updates...</p>
                </aside>
                <section class="main col-md-9">
                    <article>
                        <h2>About</h2>
                        <p>
                            I am Tejasavi and I am a student at Seneca College. I am currently enrolled in Computer programming course. I found the course a bit tough in the beginning but with my professors' support I am able to adjust in this environment. My hobbies are playing badminton, cooking, singing and dancing. I really enjoy these activities in my free time. I am also interested in painting and sometimes I draw some pictures on my diary. Also, I am working as a part time employee in a Production factory and I am enjoying my job on weekends. 
                
                        </p>
                        <h2>Shop</h2>
                        <p>
                            Lets begin the shopping!!!  
                            
                        </p>
                        <p>
                            In the shop there are various categories of products available such as Home furnitures, Gardening material, Electronic gadgets such as video games, computers, Clothing including men, women and children sections. A variety of sports equipments are available with some outdoor goods. Also there are various options for pets including their foods, washing products, kennels, pet houses, cages etcetera.
                        </p>
                            
                        
                       
                    </article>
                </section>
            </div>
        </div>

       
<form method="post" action="/items/add" enctype="multipart/form-data">
    <fieldset>
      <legend>Feature Image</legend>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input
              class="form-control"
              id="featureImage"
              name="featureImage"
              type="file"
            />
          </div>
        </div>
      </div>
    </fieldset>
    <br />
    <fieldset>
      <legend>Post Content</legend>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="title">Item Name:</label>
            <input class="form-control" id="title" name="title" type="text" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="price">Price:</label>
            <input class="form-control" id="price" name="price" type="text" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="body">Description:</label>
            <textarea
              class="form-control"
              id="body"
              name="body"
              rows="15"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" name="category" id="category">
              <option value="1">Home, Garden</option>
              <option value="2">Electronics, Computers, Video Games</option>
              <option value="3">Clothing</option>
              <option value="4">Sports & Outdoors</option>
              <option value="5">Pets</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="category">Visibility:</label>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="published" id="published" />
                Published
              </label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <hr />
    <input
      type="submit"
      class="btn btn-primary pull-right"
      value="Add Post"
    /><br /><br /><br />
  </form>
